/*
Source - https://stackoverflow.com/a/40445860
Posted by Reggie Pinkham, modified by community. See post 'Timeline' for change history
Retrieved 2026-06-16, License - CC BY-SA 4.0
*/

html, body {
  height: 100%;
  margin: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 100%;
}

.first {
  height: 50px;
}

.second {
  flex-grow: 1;
}